In [2]:
import pandas as pd
import numpy as np

In [134]:
# Singoli passaggi STORICO
useful_cols = ['dep_day','dep_time', 'dep_city', 'dep_lat', 'dep_long', 'dep_addr','arr_city', 'arr_lat', 'arr_long',
               'arr_addr', 'price', 'distance','seatsleft', 'seats', 'trip_id', 'stops', 'bookmode', 'booktype','arr_city_name']

trips = pd.read_csv('./Data/Storico/January2017.csv', header = 0, usecols = useful_cols, parse_dates=["dep_day"])
trips.head()

#for ind, row in trips.iterrows():
    #trips.set_value(ind, 'arr_city_name', trips.get_value(ind, 'arr_city_name').lower())

,dep_day,dep_time,dep_city,dep_lat,dep_long,dep_addr,arr_city,arr_lat,arr_long,arr_addr,price,distance,seatsleft,seats,trip_id,stops,bookmode,booktype,arr_city_name
0,2017-01-01,00:30:00,Milano,45.465422,9.185924,"Milan, Italie","Rovigo, Italie",45.024182,11.823816,"Rovigo, Italie",17.5,244,3,3,710370369-milan-rovigo-italie,"[Nizza, Milano]",manual,online,Rovigo
1,2017-01-01,01:30:43,Milano,45.484579,9.204914,"Stazione Centrale, Milan",Rovigo,45.069812,11.790216,"45100 Rovigo RO, Italia",15.0,242,3,3,709379309-milano-rovigo,"[Milano, Rovigo]",auto,online,Rovigo
2,2017-01-01,02:10:59,Milano,45.483971,9.206097,"Centrale, Milano, Italia",Parma,44.801485,10.327904,Parma,5.5,128,3,3,710678249-milano-parma,"[Milano, Parma, Modena]",auto,online,Parma
3,2017-01-01,03:00:00,Milano,45.465422,9.185924,"Milaan, Italië",Bruxelles,50.850340,4.351710,"Brussel, België",55.5,912,3,3,710263499-milaan-brussel,"[Milano, Bruxelles]",auto,online,Bruxelles
4,2017-01-01,04:00:00,Milano,45.465490,9.185880,"Milano, MI",Roma,41.902784,12.496365,"Roma, RM",35.0,572,3,3,704780923-milano-roma,"[Milano, Roma]",manual,online,Roma

In [20]:
trips.columns.values

array(['dep_day', 'dep_time', 'dep_city', 'dep_lat', 'dep_long',
       'dep_addr', 'arr_city', 'arr_lat', 'arr_long', 'arr_addr', 'price',
       'distance', 'seatsleft', 'seats', 'trip_id', 'stops', 'bookmode',
       'booktype', 'arr_city_name'], dtype=object)

In [135]:
# import other info and integrate them
info = pd.read_csv('./Data/Storico/City_Jan.csv', header = 0, index_col = 0)

info.head()

                        duration  recommended_price country_code
Abano Terme                10800                 13           IT
Abbiategrasso               3600                  2           IT
Acqui Terme                 7200                  7           IT
Adria                      12600                 14           IT
Aereoporto "v.catullo"      7200                  8           IT

In [136]:
# correct BOH
print info.index[info['country_code'] == 'BOH'] 

new_country_codes = ['IT','DE','IT','BE','IT','IT','DE','RO','IT','GB','IT','IT','LU','IT','IT','IT','IT','CH','IT','IT','IT',
                    'CH','IT','IT','IT','IT','IT','CH','IT','IT','IT']

info.loc[info['country_code'] == 'BOH', 'country_code'] = new_country_codes

Index([u'Ascoli Piceno', u'Augusta', u'Brignole', u'Bruxelles',
       u'Castelfranco Emilia', u'Chatillon', u'Costanza', u'Dumbrăvești',
       u'LI', u'Londra', u'Longarone', u'Lugo', u'Lussemburgo', u'Maida',
       u'Molini di Triora', u'Montano', u'Moron', u'Paradiso',
       u'Pont-Saint-Martin', u'Roma', u'Rovigo', u'Sachseln',
       u'Saint-Christophe', u'San Mariano', u'San Vigilio', u'Savigliano',
       u'Serravalle', u'Simplon', u'Stazione', u'Tavernelle', u'Verrayes'],
      dtype='object')

In [137]:
complete = trips.join(info, on='arr_city_name')

In [79]:
complete.head()

,dep_day,dep_time,dep_city,dep_lat,dep_long,dep_addr,arr_city,arr_lat,arr_long,arr_addr,...,seatsleft,seats,trip_id,stops,bookmode,booktype,arr_city_name,duration,recommended_price,country_code
0,2017-01-01,00:30:00,Milano,45.465422,9.185924,"Milan, Italie","Rovigo, Italie",45.024182,11.823816,"Rovigo, Italie",...,3,3,710370369-milan-rovigo-italie,"[Nizza, Milano]",manual,online,Rovigo,12000,13,IT
1,2017-01-01,01:30:43,Milano,45.484579,9.204914,"Stazione Centrale, Milan",Rovigo,45.069812,11.790216,"45100 Rovigo RO, Italia",...,3,3,709379309-milano-rovigo,"[Milano, Rovigo]",auto,online,Rovigo,12000,13,IT
2,2017-01-01,02:10:59,Milano,45.483971,9.206097,"Centrale, Milano, Italia",Parma,44.801485,10.327904,Parma,...,3,3,710678249-milano-parma,"[Milano, Parma, Modena]",auto,online,Parma,6600,7,IT
3,2017-01-01,03:00:00,Milano,45.465422,9.185924,"Milaan, Italië",Bruxelles,50.850340,4.351710,"Brussel, België",...,3,3,710263499-milaan-brussel,"[Milano, Bruxelles]",auto,online,Bruxelles,37800,50,BE
4,2017-01-01,04:00:00,Milano,45.465490,9.185880,"Milano, MI",Roma,41.902784,12.496365,"Roma, RM",...,3,3,704780923-milano-roma,"[Milano, Roma]",manual,online,Roma,23400,31,IT

In [138]:
# modify some incorrect values

complete.loc[complete['arr_city_name']=='Brignole', 'arr_city_name'] = 'Genova'
complete.loc[complete['arr_city_name']=='Serravalle', 'arr_city_name'] = 'San Marino'
complete.loc[complete['arr_city_name']=='LI', 'arr_city_name'] = 'Livorno'

In [139]:
complete.loc[[2841,4089], 'arr_city_name'] = 'Rimini'
complete.loc[3128, 'arr_city_name'] = 'Perugia'

In [140]:
for ind, row in complete.iterrows():
    complete.set_value(ind, 'arr_city_name', complete.get_value(ind, 'arr_city_name').lower())

In [141]:
# write to file
complete.to_csv('./Data/Storico/Jan_complete.csv')

In [142]:
# Singoli passaggi STORICO
useful_cols = ['dep_day','dep_time', 'dep_city', 'dep_lat', 'dep_long', 'dep_addr','arr_city', 'arr_lat', 'arr_long',
               'arr_addr', 'price', 'distance','seatsleft', 'seats', 'trip_id', 'stops', 'bookmode', 'booktype','arr_city_name']

trips = pd.read_csv('./Data/Storico/February2017.csv', header = 0, usecols = useful_cols, parse_dates=["dep_day"])
trips.head()

#for ind, row in trips.iterrows():
    #trips.set_value(ind, 'arr_city_name', trips.get_value(ind, 'arr_city_name').lower())

,dep_day,dep_time,dep_city,dep_lat,dep_long,dep_addr,arr_city,arr_lat,arr_long,arr_addr,price,distance,seatsleft,seats,trip_id,stops,bookmode,booktype,arr_city_name
0,2017-02-01,00:10:00,Milano,45.465422,9.185924,"Milano, MI",Genova,44.405650,8.946256,"Genova, GE",13.0,148,3,3,733482275-milano-genova,"[Milano, Genova]",auto,online,Genova
1,2017-02-01,00:20:12,Milano,45.475732,9.137810,"San Siro, Milano, Italia",Ferrara,44.842843,11.603550,"Stazione ferroviaria, Ferrara",17.5,270,4,4,728145380-milano-ferrara,"[Milano, Ferrara]",manual,online,Ferrara
2,2017-02-01,00:30:06,Milano,45.465422,9.185924,"Milan, Italy",Trento,46.072057,11.119602,"Stazione ferroviaria, Trento",18.5,224,2,3,720124479-milan-trento,"[Oleggio, Milano, Trento]",manual,online,Trento
3,2017-02-01,04:20:03,Milano,45.483971,9.206097,"Centrale, Milano, Italie",Civitavecchia,42.092424,11.795413,"00053 Civitavecchia, Metropolitan City of Rome...",39.5,540,1,1,732452360-milan-civitavecchia,"[Parigi, Milano, Civitavecchia]",auto,online,Civitavecchia
4,2017-02-01,05:00:03,Milano,45.449194,9.179746,"Corso S. Gottardo, 20136 Milano, Italia",Modena,44.636729,10.941028,Policlinico,7.5,186,3,3,736073945-milano-modena,"[Milano, Modena]",auto,online,Modena

In [143]:
# import other info and integrate them
info = pd.read_csv('./Data/Storico/City_Feb.csv', header = 0, index_col = 0)

info.head()

# Aereoporto "v.catullo"

                        duration  recommended_price country_code
Abbiategrasso               3600                  2           IT
Acqui Terme                 7200                  7           IT
Aereoporto "v.catullo"      7200                  8           IT
Affi                        7200                  8           IT
Agordo                     17400                 21           IT

In [144]:
# correct BOH
print info.index[info['country_code'] == 'BOH']

Index([u'Al Ponte', u'Andora', u'Augusta', u'Beaulieu', u'Briga', u'Caselle',
       u'Lugo', u'Mandello del Lario', u'Marina', u'Marsiglia', u'Melide',
       u'Molini di Triora', u'Paradiso', u'Pietra', u'Pont-Saint-Martin',
       u'Pristina', u'Rivera', u'Roma', u'Romana', u'Sachseln', u'Saint-Louis',
       u'San Carlo', u'San Venanzio', u'Verrayes'],
      dtype='object')

In [145]:
trips[trips['arr_city_name'] == 'San Venanzio']

,dep_day,dep_time,dep_city,dep_lat,dep_long,dep_addr,arr_city,arr_lat,arr_long,arr_addr,price,distance,seatsleft,seats,trip_id,stops,bookmode,booktype,arr_city_name
4762,2017-02-23,10:00:00,Milano,45.484418,9.166935,"Gerusalemme, Milano, MI",San Venanzio,44.509637,10.866793,"Maranello, MO",15.0,217,3,3,746928810-milano-san-venanzio,"[Milano, San Venanzio]",manual,online,San Venanzio

In [146]:
new_country_codes = ['IT','IT','DE','FR','CH','IT','IT','IT','IT','FR','CH','IT','CH','IT','IT','KO','CH','IT','IT','CH','FR','IT','IT','IT']

info.loc[info['country_code'] == 'BOH', 'country_code'] = new_country_codes

In [147]:
complete = trips.join(info, on='arr_city_name')

In [148]:
complete.loc[complete['arr_city_name']=='Aereoporto "v.catullo"', 'arr_city_name'] = 'Verona'
complete.loc[complete['arr_city_name']=='Al Ponte', 'arr_city_name'] = 'Brescia'
complete.loc[complete['arr_city_name']=='Caselle', 'arr_city_name'] = 'Torino'
complete.loc[complete['arr_city_name']=='Marina', 'arr_city_name'] = 'Pescara'
complete.loc[complete['arr_city_name']=='Pietra', 'arr_city_name'] = 'Cavedine'
complete.loc[complete['arr_city_name']=='Romana', 'arr_city_name'] = 'Savona'
complete.loc[complete['arr_city_name']=='San Carlo', 'arr_city_name'] = 'Padova'
complete.loc[complete['arr_city_name']=='San Venanzio', 'arr_city_name'] = 'Modena'

In [149]:
for ind, row in complete.iterrows():
    complete.set_value(ind, 'arr_city_name', complete.get_value(ind, 'arr_city_name').lower())

In [150]:
# write to file
complete.to_csv('./Data/Storico/Feb_complete.csv')

In [101]:
# Singoli passaggi STORICO
useful_cols = ['dep_day','dep_time', 'dep_city', 'dep_lat', 'dep_long', 'dep_addr','arr_city', 'arr_lat', 'arr_long',
               'arr_addr', 'price', 'distance','seatsleft', 'seats', 'trip_id', 'stops', 'bookmode', 'booktype','arr_city_name']

trips = pd.read_csv('./Data/Storico/March2017.csv', header = 0, usecols = useful_cols, parse_dates=["dep_day"])
trips.head()

#for ind, row in trips.iterrows():
    #trips.set_value(ind, 'arr_city_name', trips.get_value(ind, 'arr_city_name').lower())

,dep_day,dep_time,dep_city,dep_lat,dep_long,dep_addr,arr_city,arr_lat,arr_long,arr_addr,price,distance,seatsleft,seats,trip_id,stops,bookmode,booktype,arr_city_name
0,2017-03-01,00:00:00,Milano,45.465422,9.185924,"Milano, Italia",Padova,45.406435,11.876761,"Padova PD, Italia",15.0,246,2,2,753346500-milano-padova,"[Milano, Padova]",manual,online,Padova
1,2017-03-01,00:40:00,Milano,45.465422,9.185924,"Milano, MI",Torino,45.070312,7.686857,"Torino, TO",12.0,145,2,2,753786755-milano-torino,"[Travesio, Milano, Torino, Saint-Genis-Laval]",auto,online,Torino
2,2017-03-01,01:10:33,Milano,45.465422,9.185924,"Mailand, Italien",Genova,44.405650,8.946256,"Genua, Italien",12.0,148,4,4,752507140-mailand-genua,"[Friburgo In Brisgovia, Milano, Genova, Varazze]",manual,online,Genova
3,2017-03-01,04:30:00,Milano,45.483971,9.206097,"Centrale, Milano, Italia",Torino,45.074091,7.668519,Porta Susa,9.5,145,4,4,753896395-milano-torino,"[Milano, Torino]",auto,online,Torino
4,2017-03-01,04:30:00,Milano,45.465422,9.185924,"Milano, MI",Firenze,43.769560,11.255814,"Firenze, FI",29.5,318,3,3,752017635-milano-firenze,"[Milano, Firenze, Catanzaro]",manual,online,Firenze

In [103]:
# import other info and integrate them
info = pd.read_csv('./Data/Storico/City_Mar.csv', header = 0, index_col = 0)

info.head()

                       duration  recommended_price country_code
Aarau                     14400                 16           CH
Abano Terme               10800                 13           IT
Acquaviva Delle Fonti     34200                 49           IT
Affi                       7200                  8           IT
Agordo                    17400                 21           IT

In [104]:
# correct BOH
print info.index[info['country_code'] == 'BOH']

Index([u'Antella', u'Augusta', u'Aurora', u'Bobbio', u'Borgo', u'Borno',
       u'Bregaglia', u'Castel Del Piano', u'Cerignola', u'Châtillon', u'Emmen',
       u'Lamia', u'Lugo', u'Lumiere', u'Lungomare', u'Lussemburgo',
       u'Mandello del Lario', u'Marina', u'Massa lombarda', u'Milano',
       u'Molini di Triora', u'Montalbano', u'Moron', u'Paradiso', u'Pedemonte',
       u'Pila', u'Pont-Saint-Martin', u'Sachseln', u'Saint-Louis', u'Salerno',
       u'San Benedetto del Tronto', u'San Dalmazio', u'San Pietro in Casale',
       u'Scalo Ferroviario', u'Tavernelle', u'Zona Industriale'],
      dtype='object')

In [124]:
trips[trips['arr_city_name'] == 'Zona Industriale']

,dep_day,dep_time,dep_city,dep_lat,dep_long,dep_addr,arr_city,arr_lat,arr_long,arr_addr,price,distance,seatsleft,seats,trip_id,stops,bookmode,booktype,arr_city_name
1467,2017-03-08,14:30:00,Milano,45.437728,9.168557,"Famagosta M2, Milano, MI",Zona Industriale,45.470809,9.03341,"Via Tolomeo, Zona Industriale, Cornaredo, MI",5.5,20,2,2,755168500-milano-zona-industriale,"[Pavia, Milano, Zona Industriale]",manual,online,Zona Industriale
1596,2017-03-09,14:30:00,Milano,45.437728,9.168557,"Famagosta M2, Milano, MI",Zona Industriale,45.470809,9.03341,"Via Tolomeo, Zona Industriale, Cornaredo, MI",5.5,20,2,2,755168835-milano-zona-industriale,"[Pavia, Milano, Zona Industriale]",manual,online,Zona Industriale

In [127]:
new_country_codes = ['IT','DE','IT','IT','IT','IT','IT','IT','IT','IT','CH','IT','IT','IT','IT','LU','IT','IT','IT','IT','IT','IT','IT',
                    'CH','IT','IT','IT','CH','FR','IT','IT','IT','IT','IT','IT','IT']
info.loc[info['country_code'] == 'BOH', 'country_code'] = new_country_codes

In [129]:
complete = trips.join(info, on='arr_city_name')

In [130]:
complete.loc[complete['arr_city_name']=='Antella', 'arr_city_name'] = 'Bagno a Ripoli'
complete.loc[complete['arr_city_name']=='Aurora', 'arr_city_name'] = 'Civitanova Marche'
complete.loc[complete['arr_city_name']=='Bobbio', 'arr_city_name'] = 'Dezza'
complete.loc[complete['arr_city_name']=='Borgo', 'arr_city_name'] = 'Cuneo'
complete.loc[complete['arr_city_name']=='Lamia', 'arr_city_name'] = 'Salerno'
complete.loc[complete['arr_city_name']=='Lumiere', 'arr_city_name'] = 'Livorno'
complete.loc[complete['arr_city_name']=='Lungomare', 'arr_city_name'] = 'Senigallia'
complete.loc[complete['arr_city_name']=='Marina', 'arr_city_name'] = 'Pescara'
complete.loc[complete['arr_city_name']=='Montalbano', 'arr_city_name'] = 'Rimini'
complete.loc[complete['arr_city_name']=='San Dalmazio', 'arr_city_name'] = 'Modena'
complete.loc[complete['arr_city_name']=='Scalo Ferroviario', 'arr_city_name'] = 'Teano'
complete.loc[complete['arr_city_name']=='Zona Industriale', 'arr_city_name'] = 'Cornaredo'

In [132]:
for ind, row in complete.iterrows():
    complete.set_value(ind, 'arr_city_name', complete.get_value(ind, 'arr_city_name').lower())

,dep_day,dep_time,dep_city,dep_lat,dep_long,dep_addr,arr_city,arr_lat,arr_long,arr_addr,...,seatsleft,seats,trip_id,stops,bookmode,booktype,arr_city_name,duration,recommended_price,country_code
0,2017-03-01,00:00:00,Milano,45.465422,9.185924,"Milano, Italia",Padova,45.406435,11.876761,"Padova PD, Italia",...,2,2,753346500-milano-padova,"[Milano, Padova]",manual,online,padova,11400,13,IT
1,2017-03-01,00:40:00,Milano,45.465422,9.185924,"Milano, MI",Torino,45.070312,7.686857,"Torino, TO",...,2,2,753786755-milano-torino,"[Travesio, Milano, Torino, Saint-Genis-Laval]",auto,online,torino,7200,8,IT
2,2017-03-01,01:10:33,Milano,45.465422,9.185924,"Mailand, Italien",Genova,44.405650,8.946256,"Genua, Italien",...,4,4,752507140-mailand-genua,"[Friburgo In Brisgovia, Milano, Genova, Varazze]",manual,online,genova,9000,8,IT
3,2017-03-01,04:30:00,Milano,45.483971,9.206097,"Centrale, Milano, Italia",Torino,45.074091,7.668519,Porta Susa,...,4,4,753896395-milano-torino,"[Milano, Torino]",auto,online,torino,7200,8,IT
4,2017-03-01,04:30:00,Milano,45.465422,9.185924,"Milano, MI",Firenze,43.769560,11.255814,"Firenze, FI",...,3,3,752017635-milano-firenze,"[Milano, Firenze, Catanzaro]",manual,online,firenze,13800,17,IT

In [133]:
# write to file
complete.to_csv('./Data/Storico/Mar_complete.csv')